.primary-btn {
  padding: 18px 10px;
  color: white;
  background-color: black;
  border-radius: 5px;
  min-width: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}
